Source: lobata-hassles
Section: devel
Priority: optional
Standards-Version: 4.5.0
Vcs-Git: https://github.com/cyberitsolutions/android-enterprise-lockdown
Rules-Requires-Root: no
Maintainer: Trent W. Buck <twb@cyber.com.au>
Uploaders: Trent W. Buck <trentbuck@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 flit,
 python3-all

Package: python3-lobata-hassles
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: FIXME
 FIXME
